<o-form-layout-manager attr="SearchResult" mode="tab" title="SEARCHRESULT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SearchResultTable" 
            service="SearchResult" 
            entity="SearchResult" 
            title="SEARCHRESULT"
            keys="id"
            columns="id;query_id;result_text;relevance_score" 
            header-actions="R;D"
            visible-columns="id;query_id;result_text;relevance_score"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="query_id" title="query_id">
    <o-table-cell-renderer-service attr="query_id" 
        service="Query" entity="QueryType" columns="id;id"
        parent-keys="id:query_id"
        value-column="id" keys="query_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #result_text attr="result_text" title="result_text" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #relevance_score attr="relevance_score" title="relevance_score" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>