<o-form-layout-manager attr="QueryStatistic" mode="tab" title="QUERYSTATISTIC">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="QueryStatisticTable" 
            service="QueryStatistic" 
            entity="QueryStatistic" 
            title="QUERYSTATISTIC"
            keys="id"
            columns="id;query_id;execution_time_ms;result_count" 
            header-actions="R;D"
            visible-columns="id;query_id;execution_time_ms;result_count"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="query_id" title="query_id">
    <o-table-cell-renderer-service attr="query_id" 
        service="Query" entity="QueryType" columns="id;id"
        parent-keys="id:query_id"
        value-column="id" keys="query_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #execution_time_ms attr="execution_time_ms" title="execution_time_ms" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #result_count attr="result_count" title="result_count" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>