<o-form-layout-manager attr="SystemLog" mode="dialog" title="SYSTEMLOG">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SystemLogTable" 
            service="SystemLog" 
            entity="SystemLog" 
            title="SYSTEMLOG"
            keys="id"
            columns="id;log_message;log_level;created_at" 
            header-actions="R;D"
            visible-columns="id;log_message;log_level;created_at"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #log_message attr="log_message" title="log_message" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #log_level attr="log_level" title="log_level" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #created_at attr="created_at" type="date" label="created_at" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>