<o-form-layout-manager attr="IndexingTask" mode="dialog" title="INDEXINGTASK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="IndexingTaskTable" 
            service="IndexingTask" 
            entity="IndexingTask" 
            title="INDEXINGTASK"
            keys="id"
            columns="task_description;started_at;completed_at;id" 
            header-actions="R;D"
            visible-columns="task_description;started_at;completed_at;id"  
            sort-columns="task_description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #task_description attr="task_description" title=" task_description*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #started_at attr="started_at" type="date" label="started_at" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #completed_at attr="completed_at" type="date" label="completed_at" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>