<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="username" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="User_form_edit" 
        service="User" 
        entity="User" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #username attr="username" label=" username*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="BOOKMARK-user_id">
    <div layout-padding>
      <o-table 
        attr="BookmarkTable" 
        service="Bookmark" 
        entity="Bookmark" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;query_id;user_id;notes"  
        horizontal-scroll="yes"
        detail-form-route="Bookmark" 
        edit-form-route="Bookmark"
        visible-columns="id;query_id;user_id;notes"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="query_id" title="query_id">
    <o-table-cell-renderer-service attr="query_id" 
        service="Query" entity="QueryType" columns="id;id"
        parent-keys="id:query_id"
        value-column="id" keys="query_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="FEEDBACK-user_id">
    <div layout-padding>
      <o-table 
        attr="FeedbackTable" 
        service="Feedback" 
        entity="Feedback" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;query_id;user_id;feedback_text;rating"  
        horizontal-scroll="yes"
        detail-form-route="Feedback" 
        edit-form-route="Feedback"
        visible-columns="id;query_id;user_id;feedback_text;rating"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="query_id" title="query_id">
    <o-table-cell-renderer-service attr="query_id" 
        service="Query" entity="QueryType" columns="id;id"
        parent-keys="id:query_id"
        value-column="id" keys="query_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #feedback_text attr="feedback_text" title="feedback_text" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="QUERY-user_id">
    <div layout-padding>
      <o-table 
        attr="QueryTable" 
        service="Query" 
        entity="Query" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;user_id;query_text;executed_at"  
        horizontal-scroll="yes"
        detail-form-route="Query" 
        edit-form-route="Query"
        visible-columns="id;user_id;query_text;executed_at"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #query_text attr="query_text" title="query_text" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #executed_at attr="executed_at" type="date" label="executed_at" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="USERACTIVITY-user_id">
    <div layout-padding>
      <o-table 
        attr="UserActivityTable" 
        service="UserActivity" 
        entity="UserActivity" 
        keys="id"
        parent-keys="user_id:id"
        columns="activity_description;user_id;timestamp;id"  
        horizontal-scroll="yes"
        detail-form-route="UserActivity" 
        edit-form-route="UserActivity"
        visible-columns="activity_description;user_id;timestamp;id"  
        sort-columns="activity_description" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #activity_description attr="activity_description" title=" activity_description*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #timestamp attr="timestamp" type="date" label="timestamp" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="USERSESSION-user_id">
    <div layout-padding>
      <o-table 
        attr="UserSessionTable" 
        service="UserSession" 
        entity="UserSession" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;user_id;session_token;login_time;logout_time"  
        horizontal-scroll="yes"
        detail-form-route="UserSession" 
        edit-form-route="UserSession"
        visible-columns="id;user_id;session_token;login_time;logout_time"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #session_token attr="session_token" title="session_token" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #login_time attr="login_time" type="date" label="login_time" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #logout_time attr="logout_time" type="date" label="logout_time" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>