<o-form-layout-manager attr="UserActivity" mode="tab" title="USERACTIVITY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="UserActivityTable" 
            service="UserActivity" 
            entity="UserActivity" 
            title="USERACTIVITY"
            keys="id"
            columns="activity_description;user_id;timestamp;id" 
            header-actions="R;D"
            visible-columns="activity_description;user_id;timestamp;id"  
            sort-columns="activity_description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #activity_description attr="activity_description" title=" activity_description*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #timestamp attr="timestamp" type="date" label="timestamp" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>